@import '../../css/mixin.scss';

.header {
  @include themify(){
    background-color: themed("bg-color");
    color: themed("text-color");
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.candidate, .time-remaining {
  padding: 0.5rem;
}

.theme-toggle {
  @include themify(){
    color: themed("text-color");
  }
  align-self: stretch;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  border-left: 1px solid #ccc;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}
