@import '../../css/mixin.scss';

.header {
  @include themify(){
    background-color: themed("bg-color");
    color: themed("text-color");
  }
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.candidate, .time-remaining {
  padding: 0.5rem;
}

.theme-toggle {
  padding: 0.25em;
  margin: 0.5em;
}
