@import '../css/mixin.scss';

.app-wrapper {
  .body {
    padding: 1em;
  }
  .text-interaction {

  }
  .mpc-interaction {
    input {
      margin: 1em;
    }

    label {
      @include themify(){
        background-color: themed("bg-color");
        color: themed("text-color");
      }
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      max-width: 40em;
      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
  }
}
